<div id="<%= dom_id collection %>">
  <p>
    <strong>Manifest url:</strong>
    <%= collection.manifest_url %>
  </p>

  <p>
    <strong>Html url:</strong>
    <%= collection.html_url %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= collection.label %>
  </p>

</div>
