<p style="color: green"><%= notice %></p>

<h1>Collections</h1>

<ul id="collections">
  <% @collections.each do |collection| %>
    <li><%= link_to collection.label, collection %></li>
  <% end %>
</div>

<p><%= button_to "New collection", new_collection_path, method: :get %></p>
